<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeversity</title>
    <link href="/css/interface.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/interfaceWithoutLogin.css">
    <link rel="stylesheet" href="/css/interfaceAfterLogin.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Skranji:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/fc1240666c.js" crossorigin="anonymous"></script>
    <style>
        #FullImageView{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 101;
    animation: fullScreen 300ms ease-out forwards;
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  

  @keyframes fullScreen {
    from{
      top: 0;
      right: 0;
      width: 70px;
      height: 70px;
    }

    to{
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  #FullImage{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid #016236;
    /* width: 20%; */
  }

  .customfile{
    border: 3px double #016236;
    border-radius: 55px;
    /* height: 40px; */
    margin-top: 40px;
    padding: 3px;
    font-family: 'Poppins';
    font-size: 16px;
    box-sizing: content-box;
  }

  .customfile::-webkit-file-upload-button{
    /* background-color: #33A650; */
    background-image: linear-gradient(45deg,#016236, #33A650);
    color: white;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
  }
    #profile-box{
        height: auto;
        width: 300px;
        background-color:#EDE7D0;
        color: #016236;
        border-radius: 30px;
        position: absolute;
        padding: 25px 10px;
        right: 10px;
        top: 105px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 100;
        /* text-align: center; */
    }

    #cross, #close{
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .buttonb{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    font-family: 'poppins';
    font-size: 15px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .buttonb:hover{
    transition: 0.2s;
  }

    </style>
</head>
<body>

    <div id="profile-box">
        <div id="cross"><span class="material-symbols-outlined">
            close
            </span>
        </div>
        <center>
        <div class="profile-pic" onclick="FullView(this.src)" style="height: 70px;width: 70px;border: 3px solid #21325E;background-image: url('<%= imageName %>');background-position:center;background-repeat: no-repeat;background-size: cover;border-radius: 100%; cursor: pointer;">
            <!-- <img src="" onclick="FullView(this.src)" width="100%" style=" cursor: pointer;"> -->
        </div>
        </center>
    
        
    
        <h4>Hi <%= name %></h4>
        <h5><%= mail %></h5>
        <br>
        <a href="/profile/<%= user %>">Profile</a><br>
        <a href="/logout">Log Out</a>
    
    </div>


    <div id="FullImageView">
        <img id="FullImage" style="border: 3px solid #21325E;background-image: url('<%= imageName %>');background-position:center;background-repeat: no-repeat;background-size: contain; ">
        <div class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <input class="customfile" id="fileInput" type="file" name="file" accept="image/*" required/><br>
                <button type="submit" class="buttonb">Update</button>
                <div id="close" onclick="Close()"><span class="material-symbols-outlined">
                    close
                    </span>
                </div>
            </form>
        </div>
    </div>

    <script>
      function validateForm() {
          // Get the selected file
          const fileInput = document.getElementById("fileInput");
          const file = fileInput.files[0];
          
          // Check if a file is selected
          if (file) {
              // Get the file extension
              const extension = file.name.split(".").pop().toLowerCase();
              
              // Array of allowed image extensions
              const allowedExtensions = ["jpg", "jpeg", "png", "gif"];
              
              // Check if the file extension is in the allowed extensions list
              if (!allowedExtensions.includes(extension)) {
                  // Reset the file input and show an error message
                  fileInput.value = "";
                  alert("Please select a valid image file (jpg, jpeg, png, gif).");
                  return false; // Prevent form submission
              }
          }
          return true; // Allow form submission
      }
  </script>

    <!-- NAVBAR -->
    <div class="nav">
        
        <div class="block brand">
            <a href="/">
                <h1>Freeversity</h1>
            </a>
        </div>
        
        <div class="block items">
            
                <a href="/resources">Resources</a>
                <a href="/learningpath">Learning Path</a>
                <a href="/gemini">Gemini</a>
                <a href="/aitool">AI Tools</a>
                      
        </div>
        <div class="block search">
            <div class="search-button">
                <input type="text" style="height: 70%; width: 90%; border-radius: 30px; font-size:15px ;font:grey ; border:none; background-color: rgb(241, 236, 236); padding-left: 10%;" placeholder="Search...">
            </div>
            <div class="profile-photo" id="profile" style="background-image: url('<%= imageName %>'); background-size:cover; background-position: center;cursor: pointer;"></div>
        </div>

        <div class="drop-button"><i class="fa-solid fa-bars fa-md drop-button-icon" style="color: #666; border:2px solid #666666; padding: 5px 10px; margin-top: 0%; border-radius: 5px; cursor: pointer;"></i></div>
      </div>