<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/resource.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <style>
      .resourceNav{
        background-color: transparent;
        display: flex; justify-content: center; align-items: center;
      }

      .resourceNav a{
        display: flex;
        background-color: #e7e7e7;
        transition: 0.3s;
        color: #21325E;
        position: relative;
        padding: 0;
        width: 100px;
        height: 35px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin-left: 2%;
        margin-right: 2%;
      }
      .resourceNav a:hover{
        background-color: #21325E;
        color: white;
      }
      .resourceNav a:hover::after{
        position: absolute;
        bottom: -10px;
        content: "";
        height: 2px;
        animation: afteranimate 0.3s ease forwards;
        background-color: #21325E;
        color: white;
      }
      #resourceactive{
        background-color: #21325E;
        color: white;
      }

      #resourceactive::after{
        position: absolute;
        bottom: -10px;
        content: "";
        height: 2px;
        animation: afteranimate 0.3s ease forwards;
        background-color: #21325E;
        color: white;
      }

      .resourceNav a li{
        list-style: none;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .resourceNav a li:hover{
        background-color: #21325E;
        color: white;
        width: 100%;
      }

      @keyframes afteranimate {
        from{
          width: 0px;
        }
        to{
          width: 100%;
        }
      }

      .category-drop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #e7e7e7;
        color: #21325E;
        position: absolute;
        bottom: -120px;
        z-index: 20;
        visibility:hidden;
        transition: all 0.3s;
      }

      .resourceNav a:hover .category-drop{
        visibility: visible;
      }
      
      .post-box:hover{
        transform: scale(1);
      }

      .postCover{
        height: 38%;
        width: 100%;
        bottom: 0px; 
        left: 0; 
        transform: translate(0%);
        border: none;
        transition: all ease 0.5s;
      }
      .post-box:hover .postCover{
        height: 90%;
        width: 100%;
        border: none;
        bottom: 0px; 
        left: 0%; 
        border: none;
        transform: translate(0%);
        z-index: 0;
      }




      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #36454F;
} */

.containernehal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 80px;
    padding: 50px 50px;
    margin-top: 20px;
}

.containernehal .cardnehal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #FFF;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.containernehal .cardnehal:hover {
    height: 400px;
}

.containernehal .cardnehal .img-boxnehal {
    position: absolute;
    top: 20px;
    width: 310px;
    height: 220px;
    background: transparent;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.containernehal .cardnehal:hover .img-boxnehal {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.containernehal .cardnehal .img-boxnehal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containernehal .cardnehal .contentnehal {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.containernehal .cardnehal:hover .contentnehal {
    top: 130px;
    height: 250px;
}

.containernehal .cardnehal .contentnehal h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.containernehal .cardnehal .contentnehal p {
    color: #333;
}

.containernehal .cardnehal .contentnehal a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: #FFF;
    font-weight: 500;
}

.containernehal .cardnehal .contentnehal a:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .containernehal .cardnehal {
        width: 330px;
        border-radius: 15px;
    }

    .containernehal .cardnehal .img-boxnehal {
        width: 90%;
        border-radius: 10px;
    }

    .containernehal .cardnehal .contentnehal p {
        font-size: 0.8rem;
    }

    .containernehal .cardnehal .contentnehal a {
        font-size: 0.9rem;
    }
}

#confirmButton, #cancelButton{
  height: 40px;
  width: 100px;
  font-size: 13px;
  font-weight: 300;
}

#cancelButton{background-color: transparent; border: 1px solid #333;}
#confirmButton{background-color: #697CAF; color: white; border: 1px solid #697CAF;}

.post-btn{
  border-color: #697CAF; color: #697CAF; height: 40px; width: 40px;
}

.post-btn:hover{
  background-color:#697CAF; color: #ffffff; height: 40px; width: 40px;
  transform: scale(1.3);
}

#deleteButton{
  position: absolute; 
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100px;
  bottom: -75px; left: -90px; border: none; background-color:transparent; cursor: pointer; z-index: 20;
}

.custom-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.custom-confirm-content {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 80px 0px;
}

.custom-confirm-content p {
  margin-bottom: 10px;
}

.custom-confirm-content button {
  margin-right: 10px;
}

.search-box{
  padding: 0px 20px;
}

.search-box input{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
      
.search-box a{
  margin-left: -110px;
  background: transparent;
  color: #333;
}

.dropdown-content{
  background-color: #e7e7e7;
  position: absolute;
  left: -100px;
}
.dropdown-content a{
  margin-left: 0px;
}
    </style>
</head>
<%- include('../theme/header'); -%>
    <center><strong style="font-size: 30px;"><br>Mini Projects</strong></center>
    <div class="search-box">
      <input type="text" id="myInput" placeholder="Search" onkeyup="searchProjects()">
      <div class="dropdown">
          <a class="dropbtn" style="background-color: transparent;">Search by &#9660;</a>
          <div class="dropdown-content">
              <a href="#" onclick="changeSearchOption('title')">Title</a>
              <a href="#" onclick="changeSearchOption('postedBy')">Posted By (name)</a>
              
          </div>
      </div>
  </div>
    <nav class="resourceNav">
        <a class="filterButtons" <% if (addIdToAllPostButton) { %> id="resourceactive"<% } %> href="/miniprojects">All Projects</a>
        <a class="filterButtons" <% if (addIdToMyPostButton) { %> id="resourceactive"<% } %> href="/myprojects" >My Uploads</a>
        <a class="filterButtons" href="#">Category
          <div class="category-drop">
            <li>Code</li>
            <li>Operating System</li>
            <li><input type="text" style="height: 100%;" name="category" placeholder="Others"></li>
          </div>
        </a>
    </nav>
<center>





  <!-- Custom Confirmation Box -->
<div id="custom-confirm-box" class="custom-confirm">
  <div class="custom-confirm-content">
    <h3 style="color: #333;">Are you sure you want to delete?</h3>
    <button style="cursor: pointer;" id="confirmButton">Confirm</button>
    <button style="cursor: pointer;" id="cancelButton">Cancel</button>
  </div>
</div>



    

</center>
    <div id="FullImageView">
        <img id="FullImage">
        <div class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="customfile" type="file" name="file" required/><br>
                <button type="submit" class="button">Update</button>
                <div id="close" onclick="Close()"><span class="material-symbols-outlined">
                    close
                    </span>
                </div>
            </form>
        </div>
    </div>
    
    
    <div id="profile-box">
        <div id="cross"><span class="material-symbols-outlined">
            close
            </span>
        </div>
        <center>
        <div class="profile-pic" style="height: 70px;width: 70px;border: 1px solid rgb(35, 84, 175);background-image: url(images/profileBackground.png);background-position:center;background-repeat: no-repeat;background-size: cover;border-radius: 100%;">
            <img src="uploads/<%= imageName %>" onclick="FullView(this.src)" height="100%" width="100%" style="border-radius: 100%; cursor: pointer;">
        </div>
        </center>
    
        
    
        <h4>Hi <%= name %></h4>
        <h5><%= mail %></h5>
        <br>
        <a href="/logout">Log Out</a>
    </div>

    <div class="main" id="myUL">
      
      <!-- Use any element to open/show the overlay navigation menu -->
      <span class="post-btn" style="z-index: 34; " onclick="window.location.href='/projectposting'">
        <span class="material-symbols-outlined">
          add
        </span>
      </span>
      <div class="containernehal" id="projectContainer">
      
      <%    posts.forEach(function(post){ %>
            
              <div class="cardnehal" style="--clr: #009688">
                  <div class="img-boxnehal">
                      <img src="<%= post.sampleimage %>">
                  </div>
                  <div class="contentnehal">
                      <h2 style="color: #555;"><%= post.Title %></h2>

                      <% if(post.Description.length<=100){ %>
                        <p><%= post.Description.substring(0,100) %></p>
                      <% }else{ %>
                        <p><%= post.Description.substring(0,100) + " ..." %></p>
                      <% } %>

                      <a href="project/<%= post._id %>" style="background-color: #21325E;">Show More</a>
                      
                      <% if(post.PostedBy == email){ %>
                        <form class="delete-form" action="/deleteproject" method="post" onsubmit="return customConfirm(this)">
                          <input type="hidden" name="postId" value="<%= post._id %>">
                          <button id="deleteButton" class="delete-button" type="submit">
                            <span class="material-symbols-outlined">
                              delete
                            </span>
                          </button>
                        </form>
                      <% } %>
                      
                  </div>
                  <div style="display: flex;padding:0px 20px; justify-content: space-between; width: 100%; position: absolute; bottom: 5px;"><strong class="posted-by" style="font-size: 13px; color: #21325E; cursor: pointer;" onclick="window.location.href='/profile/<%= post.PostedByUsername %>'"><%= post.PostedByName %></strong><timestamp id="time" style="font-size: 13px;"><%= post.Timestamp %></timestamp></div>
          
              </div>

              
              


          

      <% }); %>
    </div> <!-- Container Nehal Closes -->
    </div>
    <div class="post-form-box"></div>




      
    <script src="/js/aitool.js"></script>
    <script>
// SEARCH

let searchOption = 'title'; // Default search option

function changeSearchOption(option) {
    searchOption = option;
    document.getElementById("myInput").placeholder = "Search by " + (searchOption === 'title' ? 'title' : 'name');
}

function searchProjects() {
    // Declare variables
    var input, filter, container, cards, card, title, postedBy, i, txtValue;

    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    container = document.getElementById('projectContainer');
    cards = container.getElementsByClassName('cardnehal');

    // Loop through all project cards, and hide those that don't match the search query
    for (i = 0; i < cards.length; i++) {
        card = cards[i];
        if (searchOption === 'title') {
            title = card.querySelector('h2');
            txtValue = title.textContent || title.innerText;
        } else {
            postedBy = card.querySelector('.posted-by');
            txtValue = postedBy.textContent || postedBy.innerText;
        }
        
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            card.style.display = '';
        } else {
            card.style.display = 'none';
        }
    }
}



      // CONFIRMING TO DELETE

      function customConfirm(form) {
        document.getElementById('custom-confirm-box').style.display = 'block';

  // Set the form to be submitted
  window.formToSubmit = form;

  // Return false to prevent the form from submitting
  return false;
}

// Add event listener for the confirm button
document.getElementById('confirmButton').addEventListener('click', function() {
  // Hide the custom confirmation box
  document.getElementById('custom-confirm-box').style.display = 'none';

  // Submit the form
  window.formToSubmit.submit();
});

// Add event listener for the cancel button
document.getElementById('cancelButton').addEventListener('click', function() {
  // Hide the custom confirmation box
  document.getElementById('custom-confirm-box').style.display = 'none';
});
      

//////

      function updateTimeAgo() {
        // Select all elements with the 'timestamp' tag
        const timestampElements = document.querySelectorAll('timestamp');

        // Loop through each timestamp element
        timestampElements.forEach(function(element) {
            // Get the timestamp value from the element
            const postTimestamp = element.textContent.trim(); // Assuming the timestamp is directly written in the element

            // Calculate the time difference using moment.js
            const timeAgo = moment(postTimestamp).fromNow();

            // Update the element with the dynamic time ago text
            element.textContent = timeAgo;
        });

        // Refresh time every minute
        setTimeout(updateTimeAgo, 60000); // 60000 milliseconds = 1 minute
    }

    // Call the function to initialize
    updateTimeAgo();
      
    // Get all elements with the class name 'like-btn'
// Get all elements with the class name 'like-btn'
let likeBtns = document.getElementsByClassName('like-btn');

// Iterate over each element and add the event listener
for (let i = 0; i < likeBtns.length; i++) {
    likeBtns[i].addEventListener('click', function() {
        // Toggle the color of the clicked like button
        if (this.style.color === 'red') {
            this.style.color = 'black'; // Revert to default color
        } else {
            document.getElementById('likeForm').submit();
            this.style.color = 'red'; // Change color to red
        }
    });
}


      </script>
      
      <%- include('../theme/footer'); -%>